<header>
  <h1>Service Desk : {{status}}</h1>
</header>
<div class="status-filter">
  {{select-box selected=status options=statusOptions class="light"}}
</div>
<div class="search-bar">
  {{input type="search" value=search placeholder="Search..." class="light"}}
</div>
<div class="jobs-list">
  <ul>
    {{#each filteredJobs as |job|}}
      <li class="job">
        <h3>
          {{#link-to "job" job}}
            {{job.title}}
          {{/link-to}}
        </h3>
        <div class="list-detail">
          Requester:
          {{#each job.requester as |person|}}
            {{person.name}}
          {{/each}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>
{{outlet}}
